<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="SqlServer"
             connectionString="Server=localhost;Database=ModeloDualDB_SQL;User Id=sa;Password=Creeper77xd;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
        <add name="MySQL"
             connectionString="Server=localhost;Database=ModeloDualDB;User=root;Password=Creeper77xd;Port=3307;Pooling=True;MinPoolSize=1;MaxPoolSize=25;CharSet=utf8mb4;ConnectionLifeTime=300;"
             providerName="MySqlConnector" />
        <add name="ModeloDualDB_EF"
             connectionString="Server=localhost;Database=ModeloDualDB_SQL;User Id=sa;Password=Creeper77xd;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=9.7.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>

    <appSettings>
        <add key="NombreApp" value="Sistema Gestion Modelo Dual" />
        <add key="TimeoutConexion" value="30" />
        <add key="FormatoFecha" value="yyyy-MM-dd" />
    </appSettings>
</configuration>